@using System.Data;
@model DataTable;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @successMessage

        <button type="button" class="btn-close float-end" aria-label="Close" data-bs-dismiss="alert">X</button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @errorMessage

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Corporation List</h6>
    </div>
    <br />
    <div class="datatable-top">
        <form class="form-inline mb-2 mb-sm-0" asp-action="CorporationSearch" asp-area="MST_Corporation" asp-controller="MST_Corporation" style="margin-left: 10px;">
            <input class="form-control mr-2 mb-2 mb-sm-0" type="search" placeholder="Municipal Corporation Name" name="MCName" aria-label="Search" style="width: 250px;">
            <!-- Single Search Button -->
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
        <br />
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- Content of your card goes here -->
        </div>
        <div class="col-md-4 text-right pr-3">
            <a type="button" class="btn btn-primary" asp-action="CorporationAddEdit" asp-controller="MST_Corporation" asp-area="MST_Corporation">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">UserID</th>
                                <th rowspan="1" colspan="1">MCName</th>
                                <th rowspan="1" colspan="1">MCCity</th>
                                <th rowspan="1" colspan="1">MCPinCode</th>
                                <th rowspan="1" colspan="1">MCLogo</th>
                                <th rowspan="1" colspan="1">MCEmail</th>
                                <th rowspan="1" colspan="1">ContactPerson</th>
                                <th rowspan="1" colspan="1">ContactNumber</th>
                                <th rowspan="1" colspan="1">MCAddress</th>
                                <th rowspan="1" colspan="1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>
                                        @dr["UserID"]
                                    </td>
                                    <td>
                                        @dr["MCName"]
                                    </td>
                                    <td>
                                        @dr["MCCity"]
                                    </td>
                                    <td>
                                        @dr["MCPinCode"]
                                    </td>
                                    <td>
                                        <div class="avatar avatar-online">
                                            <img src="@dr["MCLogo"]" alt="Profile" class="w-px-40 h-auto rounded-circle" style="width: 150px; height: auto;" />
                                        </div>
                                    </td>
                                    <td>
                                        @dr["MCEmail"]
                                    </td>
                                    <td>    
                                        @dr["ContactPerson"]
                                    </td>
                                    <td>
                                        @dr["ContactNo"]
                                    </td>
                                    <td >
                                        @dr["MCAddress"]
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Add", "MST_Corporation", new { MCID = @dr["MCID"] })" class="btn btn-primary btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", "MST_Corporation", new { id = @dr["MCID"] })" class="btn btn-danger btn-circle btn-sm" data-confirm="Are you sure you want to delete this Corporation?">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @* <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div> *@
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('[data-confirm]');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault(); // Prevent the default behavior of the link

                const confirmationMessage = this.getAttribute('data-confirm');
                Swal.fire({
                    title: 'Are you sure?',
                    text: confirmationMessage,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms, proceed with the deletion
                        window.location.href = this.getAttribute('href');
                    }
                });
            });
        });
    });
</script>
